.main
{
	margin-top:-50px;
}

#greet {
	text-align:center;
	background: lightgreen;
	padding:1px;
	width:100%;
	position:relative;
	height:105px;	
}

.button-panel
{
    display: table;
    margin: 0 auto;	
	positon: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin-top:5%;	
}

.button {	
	text-align:center;
	display: block;
	
	color: #fafafa;
	
	font-size: 24px;
	font-family: helvetica, serif;
	text-decoration: none;   
	
	border: 1px solid #0a3c59;
	border-radius: 8px;	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
   
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 	1px 0;   
	text-shadow: #7ea4bd 0 1px 0;
	box-shadow: 5px 5px 2.5px grey;
   
	background: #3e779d;
	background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
	background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
	background: -moz-linear-gradient(top, #65a9d7, #3e779d);
	background: -ms-linear-gradient(top, #65a9d7, #3e779d);
	background: -o-linear-gradient(top, #65a9d7, #3e779d);
	background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
	padding: 11px 30px;
   
  	margin:0 auto;
	margin-bottom:30%;
    width: 150px;
	
}

.button:hover {
	color:yellow;
   }   


#s_spselect {
	display: block;
	margin:0 auto;
	width:55%;	
}

#p_search {	
	margin: 0 auto;
	width:100%;			
	text-align:center;
	font-weight:strong;
	padding:5%;
	font-weight:bold;
}

#profPic {
	margin: 0 auto;
	width:230px;
	height: 230px;	
	text-align:center;
	font-weight:strong;
	background-image: url('../IMAGES/defaultprofilepic.png');
	font-weight:bold;
	overflow: hidden;
	background-repeat:no-repeat;
	background-size: 230px 230px;
	background-position:center;	
	margin-left:33%;
	
}


/*change the picture */
#imageUpload{
	position: relative;
	width: 180px;
	height: 18px;
	z-index: 15;
	top: 50%;
	left:38%;
	margin: 0 auto;
	font-size:10px; 
	
	font-weight:strong;
	overflow: hidden;	
	
	background-color:#E6E6FA;  
	color:blue;
	
	border:1px strong;	
}

#btnUpdate{
	margin-left:35%;	
}

.divUpload {
	margin-top:5px;
}


form {
	padding: 5%;
}


table{	
	width:500px;	
}

td {
	padding:3px;
}

label {
	padding:2px;
	float:right;
	width:150px;
	font-weight:bold;
	font-size:18px;
}

input
{
	padding:2px;
	border:1px solid;
	float:left;	
}

select {
	padding:1px;
	text-align:middle;	
	width:160px;
}

/*  div {
	border:1px solid;
}  */












